<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :adm_id %>
    <%= form.number_field :adm_id, id: :service_adm_id %>
  </div>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.number_field :service_id, id: :service_service_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :service_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
