<%= form_with(model: budget, local: true) do |form| %>
  <% if budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :budget_city %>
  </div>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.number_field :service_id, id: :budget_service_id %>
  </div>

  <div class="field">
    <%= form.label :adm_id %>
    <%= form.number_field :adm_id, id: :budget_adm_id %>
  </div>

  <div class="field">
    <%= form.label :budget_id %>
    <%= form.number_field :budget_id, id: :budget_budget_id %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :budget_price %>
  </div>

  <div class="field">
    <%= form.label :contracted %>
    <%= form.check_box :contracted, id: :budget_contracted %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
