<p id="notice"><%= notice %></p>

<h1>Budgets</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Service</th>
      <th>Adm</th>
      <th>Budget</th>
      <th>Price</th>
      <th>Contracted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.city %></td>
        <td><%= budget.service_id %></td>
        <td><%= budget.adm_id %></td>
        <td><%= budget.budget_id %></td>
        <td><%= budget.price %></td>
        <td><%= budget.contracted %></td>
        <td><%= link_to 'Show', budget %></td>
        <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
        <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget', new_budget_path %>
