<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @budget.city %>
</p>

<p>
  <strong>Service:</strong>
  <%= @budget.service_id %>
</p>

<p>
  <strong>Adm:</strong>
  <%= @budget.adm_id %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @budget.budget_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @budget.price %>
</p>

<p>
  <strong>Contracted:</strong>
  <%= @budget.contracted %>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
