<%= form_with(model: servico, local: true) do |form| %>
  <% if servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(servico.errors.count, "error") %> prohibited this servico from being saved:</h2>

      <ul>
      <% servico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :servico_nome %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao, id: :servico_descricao %>
  </div>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco, id: :servico_preco %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
