<%= render 'shared/errors', object: @servico %>

<%= form_for @servico do |f| %>
  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div>
    <%= f.label :descricao %>
    <%= f.text_area :descricao %>
  </div>

  <div>
    <%= f.label :preco %>
    <%= f.text_field :preco %>
  </div>

  <!-- <%= f.fields_for :orcamentos do |orcamento| %>
     <div>
       <%= orcamento.label :cidade %>
       <%= orcamento.text_field :cidade %>
     </div>
   <% end %>
 </div> -->

  <%= f.submit %>
<% end %>
