<%= form_with(model: servico, local: true) do |form| %>
  <% if servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(servico.errors.count, "error") %> prohibited this servico from being saved:</h2>

      <ul>
      <% servico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Nome:</label> <br />
    <%= form.text_field :nome, id: :servico_nome,placeholder:"Escolha um nome para esse serviço" %>
  </div>

  <div class="form-group"> 
    <label>Descrição:</label> <br />
    <%= form.text_area :descricao, id: :servico_descricao,placeholder:"Descreva esse serviço" %>
  </div>

  <div class="form-group"> 
    <label>Preço:</label> <br />
    <%= form.text_field :preco, id: :servico_preco,placeholder:"Defina um preço para esse serviço" %>
  </div>

<%= form.submit :Enviar, class:'btn btn-success' %>

<% end %>
