<%= form_with(model: servico, local: true ) do |form| %>
  <% if servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(servico.errors.count, "error") %> prohibited this servico from being saved:</h2>

      <ul>
      <% servico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= form.label :descrição %>
        <%= form.text_area :descrição, id: :servico_descrição , class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions" style="text-align: right;">
    <a href= "<%= servicos_path %>" class= "btn btn-secondary" >Voltar</a>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
