<%= form_with(model: servico, local: true) do |form| %>
  <% if servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(servico.errors.count, "error") %> prohibited this servico from being saved:</h2>

      <ul>
      <% servico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :Nome, id: :servico_Nome %>
  </div>

  <div class="field">
    <%= form.label :Descrição %>
    <%= form.text_area :Descrição, id: :servico_Descrição %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
