<%= render 'shared/errors', object: @servico %>

<%= form_for @servico do |f| %>
  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div>
    <%= f.label :descricao %>
    <%= f.text_area :descricao %>
  </div>

  <div>
    <%= f.label :preco %>
    <%= f.text_field :preco %>
  </div>

  <%= f.submit %>
<% end %>
