<!-- <h1>New Servico</h1>

<%= render 'form', servico: @servico %>

<%= link_to 'Back', servicos_path %> -->

<h1>Novo Serviço</h1>
<%= form_for @servico do |f| %>
  <!-- <p>
    Nome: <%= f.text_field :nome %>
  </p>
  <p>
    Descrição: <%= f.text_area :descricao %>
  </p>
  <p>
    Preço: <%= f.text_field :preco %>
  </p> -->
  <%= f.fields_for :orcamentos do |orcamento_form| %>
    <p>
        Orçamento: <%= orcamento_form.text_field :cidade %>
    </p>
  <% end %>
  <p>
    <%= f.submit 'Criar Serviço' %>
  </p>
<% end %>
