<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @servico.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @servico.descricao %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @servico.preco %>
</p>

<%= link_to 'Edit', edit_servico_path(@servico) %> |
<%= link_to 'Back', servicos_path %>
