
<div class="container-fluid">
  <div class="row mt-10 justify-content-center">
    <div class="mx-auto my-auto text-center col-md-6">
      <div class="card bg-light border-secondary mb-4 z-depth-2 slide-in-blurred-top">
        <div class="x_panel slide-in-blurred-top">
          <div class="card-header" style="background-color: #5fbb4e">
            <h1 style="font-size:150%; color: white;"><%= @servico.nome %></h1>
          </div>
          <div class="card-body" align="center">
            <h3><strong>Descrição</strong></h3>
            <%= @servico.descricao %>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6" >
              <div class="card" align="center">
                <p>
                  <h5><strong>Investimento:</strong></h5>
                  <h1><strong> R$ <%= @servico.preco %></strong></h1>
                </p>
              </div>
            </div>
          </div>
          <div class ="row justify-content-around" style="margin-top: 5%; margin-bottom: 3%;">
            <div class="col-3">
              <td><%= button_to 'Editar', edit_servico_path(@servico), method: :get, class:'btn btn-secundary' %></td>
            </div>
            <div class="col-md-3" align="center">
              <td><%= button_to 'Excluir', @servico, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger', id: 'backButton' %></td>
            </div>
            <div class="col-md-3" align="center">
              <td><%= button_to 'Voltar', servicos_path, method: :get, class: 'btn btn-success', id: 'backButton' %></td>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
