<%= form_with(model: orcamento, local: true) do |form| %>
  <% if orcamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orcamento.errors.count, "error") %> prohibited this orcamento from being saved:</h2>

      <ul>
      <% orcamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cidade %>
    <%= form.text_field :cidade, id: :orcamento_cidade %>
  </div>

  <div class="field">
    <%= form.label :servico_id %>
    <%= form.number_field :servico_id, id: :orcamento_servico_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
