<%= render 'shared/errors', object: @orcamento %>

<%= form_for @orcamento do |f| %>
  <div>
    <%= f.label :cidade %>
    <%= f.text_field :cidade %>
  </div>

    <%= f.fields_for :servicos do |servico| %>
      <div>
        <%= servico.label :nome_do_serviço %>
        <%= servico.text_field :nome %>
      </div>
    <% end %>

  <%= f.submit %>
<% end %>
