<%= form_with(model: orcamento, local: true) do |form| %>
  <% if orcamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orcamento.errors.count, "error") %> prohibited this orcamento from being saved:</h2>

      <ul>
      <% orcamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <label class="col-2 col-form-label"><%= form.label :cidade %></label>
    <div class="col-10">
      <%= form.text_field :cidade, id: :orcamento_cidade %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label"><%= form.label :preço %></label>
    <div class="col-10">
      <%= form.text_field :preço, id: :orcamento_preço %>
    </div>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <%= form.check_box :contratado, id: :orcamento_contratado %>
      <label class="col-2 col-form-label"><%= form.label :contratado %></label>
    </label>
  </div>

  <div class="actions" style="text-align: right;">
    <%= form.submit class: "btn btn-primary" %>
    <a href= "<%= orcamentos_path %>" class= "btn btn-secondary" >Voltar</a>
  </div>
<% end %>
