<p id="notice"><%= notice %></p>

<p>
  <strong>Cidade:</strong>
  <%= @orcamento.cidade %>
</p>
<p>
  <strong>Preço:</strong>
  <%= @orcamento.preco %>
</p>

<%= link_to 'Edit', edit_orcamento_path(@orcamento) %> |
<%= link_to 'Back', orcamentos_path %>
