<p id="notice"><%= notice %></p>

<p>
  <strong>Cidade:</strong>
  <%= @orcamento.cidade %>
</p>

<p>
  <strong>Servico:</strong>
  <%= @orcamento.servico_id %>
</p>

<%= link_to 'Edit', edit_orcamento_path(@orcamento) %> |
<%= link_to 'Back', orcamentos_path %>
