<div class="container-fluid">
  <div class="row mt-10 justify-content-center">
    <div class="mx-auto my-auto text-center col-md-6">
      <div class="card bg-light border-secondary mb-4 z-depth-2 slide-in-blurred-top">
        <div class="card-header">
          <h3><strong>Orçamento</strong></h3>
        </div>
        <div class="x_panel slide-in-blurred-top" style="background-color: white">
          <div class="card-body">
            <p id="notice"><%= notice %></p>
          </div>
          <div class="card" style="padding: 5%;">
            <p><strong>Cidade:</strong> <%= @orcamento.cidade %></p>
            <p><strong>Serviço:</strong> <%= @orcamento.servico.nome %></p>

             <div class="row justify-content-center">
            <div class="col-md-6" >
              <div class="card" align="center">
                <p>
                  <h5><strong>Investimento:</strong></h5>
                  <h1><strong>R$:</strong> <%= @orcamento.preco %></h1>
                </p>
              </div>
            </div>
          </div>
          

          </div>
          <div class="row justify-content-center" style="margin-top: 3%; margin-bottom: 3%;">
            <div class="col-md-4">
              <%= button_to 'Editar', edit_orcamento_path(@orcamento), method: :get, class:'btn btn-secundary' %>
            </div>
            <div class="col-md-4">
              <%= button_to 'Excluir', @orcamento, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %>
            </div>
            <div class="col-md-4">
              <%= button_to 'Voltar', orcamentos_path, method: :get, class: 'btn btn-success' %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
