
<div class="container-fluid">
  <div class="row mt-10 justify-content-center">
    <div class="mx-auto my-auto text-center col-md-6">
      <div class="card bg-light border-secondary mb-4 z-depth-2 slide-in-blurred-top">
        <div class="x_panel slide-in-blurred-top">
          <div class="card-header">
            <h1 style="font-size:150%"><%= @info.titulo %></h1>
          </div>
          <div class="card-body" align="center">
            <%= @info.texto %>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6" >
              <div class="card">
                  <p>
                    <div id="image"<dd><%= image_tag @info.image.url %></dd></div>
                  </p>
              </div>
            </div>
          </div>
          <% if current_user.blank? || current_user.present? %>
          <p> </p>
          <% elsif current_user.is_admin? %>
          <div class ="row justify-content-around" style="padding-bottom: 30px;">
            <div class="col-4">
              <td><%= button_to 'Editar', edit_info_path(@info), method: :get, class:'btn btn-info' %></td>
            </div>
            <div class="col-md-4" align="center">
              <td><%= button_to 'Excluir', @info, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', id: 'backButton' %></td>
            </div>
            <div class="col-md-4" align="center">
              <td><%= button_to 'Voltar', infos_path, method: :get, class: 'btn btn-secundary', id: 'backButton' %></td>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
