<!DOCTYPE html>
<html>
  <head>
    <title>Plano B Monitoria</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="alignBody">
      <div id = "wrapper">
        <div class = "header">
          <%= render template = "/layouts/navbar" %>
        </div>
      </div>
    </div>
  </body>

  <%= yield %>
</html>
