<!DOCTYPE html>
<html>
  <head>
    <title>Plano B Monitoria</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNavbar">
        <a class="navbar-brand" href="/">
            <img id="logo" src="../assets/planB.png" alt="Plano B Logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/servicos"><button class = "btn btn-outline-success card-body" type = "submit" id = "buttonsMenu">
                Serviços
              </button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orcamentos/new"><button class = "btn btn-outline-success card-body" type = "submit" id = "buttonsMenu">
                Orçamento Online
              </button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><button class = "btn btn-outline-success card-body" type = "submit" id = "buttonsMenu">
                Quem Somos
              </button></a>
            </li>
            <% if current_user.present? && current_user.is_admin==false %>
              <li class="nav-item">
                <a class="nav-link" href="/contacts"><button class = "btn btn-outline-success card-body" type = "submit" id = "buttonsMenu">
                  Fale Conosco
                </button></a>
              </li>
            <% end %>
            <% if current_user.blank? %>
              <li class="nav-item">
                <a class="nav-link" href="/contacts"><button class = "btn btn-outline-success card-body" type = "submit" id = "buttonsMenu">
                  Fale Conosco
                </button></a>
              </li>
            <% elsif current_user.is_admin? %>
              <li class="nav-item">
                <a class="nav-link" href="/infos"><button class = "btn btn-outline-success card-body" type = "submit" id = "buttonsMenu">
                  Informações
                </button></a>
              </li>
            <% else %>

            <% end %>
            <li class="nav-item">
              <% if user_signed_in? %>
              <span class="navbar-text" id = "navbartext">
                Bem vindo(a) <strong><%= current_user.email %></strong>
              </span>
            </li>
            <li>
              <div style="margin-top: 20px;">
                <%= link_to "Sair", destroy_user_session_path, class: 'btn btn-success', :method => 'delete' %>
              </div>
              <% else %>
              <a class="nav-link" href="/users/sign_in"><button class = "btn btn-outline-success card-body" type = "submit" id = "buttonsMenu" style="margin-left:200px;">
                Login
              </button></a>
              <% end %>
            </li>
          </ul>
        </div>
    </nav>
  </body>

  <%= yield %>
</html>
